<!DOCTYPE html> <!--html: 5--> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Soy un titulo. Vamos a empezar mi template</h1>
    <p>Mi nombre es {{nombre}}</p>
    <p>Mi apellido es {{apellido}}</p>
    <p>La lista de notas es {{listaDeNotas}}</p>
    {% for i in listaDeNotas%}
        {%if i < 4%}
        <p style="color: red"> Nota mala: {{i}}</p>
        {% else %}
        <p style="color: blue"> Nota buena: {{i}} </p>
        {% endif %}
    {% endfor %}
    
</body>
</html>


